<section>
  <div class="container-fluid">
    <div class="d-flex">
      <a href="/admin/add-products" class="btn btn-primary mx-auto">Add</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Isi No:</th>
          <th scope="col">Title</th>
          <th scope="col">Division</th>
          <th scope="col">Catogary</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each prodects}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.Title}}</td>
            <td>{{this.ieomDiv}}</td>
            <td>{{this.Catogary}}</td>
            <td>{{this.Price}}</td>
            <td><img src="/images/products/{{this._id}}.jpeg" style="width: 60px;height: 100px;" alt=""></td>
            <td>
              <a href="/admin/editProduct/{{this._id}}"><span
                  class="material-icons-outlined">drive_file_rename_outline</span></a>
              <a href="/admin/deleatProduct/{{this._id}}"
                onclick="return confirm('Are you sure ?\nYou want to delete {{this.title}}')"><span
                  class="material-icons-outlined">delete_forever</span></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>