<section>
  <div class="container-fluid">
    <div class="d-flex">
      <form action="/admin/findUser" class="d-flex w-25 ms-auto" role="search">
        <input class="form-control me-2" 
        type="search" placeholder="Search" 
        aria-label="Search" name="search" value="">
        <button class="btn btn-outline-primary" type="submit">search</button>
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No:</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.Name}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Phone}}</td>
            <td>
              <a href="/admin/editUser/{{this._id}}" class="mx-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <span class="material-icons-outlined fs-2 text-primary">drive_file_rename_outline</span>
              </a>
              <a href="/admin/deleatUser/{{this._id}}"
                onclick="return confirm('Are you sure ?\nYou want to delete {{this.Name}}')">
                <span class="material-icons-outlined fs-2 text-danger ms-2">delete_forever</span>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>


</section>