<section>
  <div class="container-fluid">
    <div class="d-flex">
      <a href="/admin/add-products" class="btn btn-primary mx-auto">Add</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">No:</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each clients}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.Name}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Phone}}</td>
            <td>
              <a href="/admin/editUser/{{this._id}}" class="mx-3" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
                <span class="material-icons-outlined fs-2 text-primary">drive_file_rename_outline</span>
              </a>
              <a href="/admin/deleatUser/{{this._id}}"
                onclick="return confirm('Are you sure ?\nYou want to delete {{this.Name}}')">
                <span class="material-icons-outlined fs-2 text-danger ms-2">delete_forever</span>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="modal fade modal-dialog modal-dialog-centered" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{!-- FFF form user edit --}}
          <form action='/signUp' method='post' class=''>
            <div class='form-group'>
              <label class='form-label' for=''>Full Name</label>
              <input type='text' name='Name' class='form-control forminput' value='{{clients.Phone}}'
                placeholder='Name' />

              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
            </div>

            <div class='form-group'>
              <label class='form-label' for='Email'>Email address</label>
              <input type='text' name='Email' class='form-control forminput' value='{{clients.Email}}'
                placeholder='Email' />
              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
              {{#if statusData.errMsg.email}}
                <span class='text-danger'><i class='fa-regular fa-circle-exclamation'>
                  </i>{{statusData.errMsg.email}}</span>
              {{/if}}
            </div>

            <div class='form-group'>
              <label class='form-label'>PhoneNo</label>
              <input type='text' name='Phone' class='form-control forminput' value='{{clients.Phone}}'
                placeholder='PhoneNo' />

              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
            </div>
            <div class="form-group">
              <label for="exampleDataList" class="form-label">Type</label>
              <input class="form-control" list="datalistOptions" name="logType" id="exampleDataList"
                placeholder="Type to search...">
              <datalist id="datalistOptions">
                <option value="user">
                <option value="admin">
              </datalist>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

</section>