<section class='h-100 register'>
  <a href='/'>
    <div class='btn btn-light rounded-circle position-fixed backarow'>
      <span class='material-icons-outlined mt-1'>west</span>
    </div>
  </a>

  <div class='container-fluid maxpading'>
    <div class='row d-flex justify-content-center align-items-center mt-5'>
      <div class='col-md-9 col-lg-6 col-xl-5'>
        <img src='/images/mainImg/register.webp' class='img-fluid imageLogin' alt='Sample image' />
      </div>
      <div class='col-md-8 col-lg-6 col-xl-4 offset-xl-1 p-3'>
        <form action='/signUp' method='post' class=''>

          <div class='d-flex flex-row align-items-center justify-content-center'>
            <p class='fw-bold text-secondary fs-2 mt-3'>✒ Register in FastShop
              {{indexData.log.message}}
            </p>
          </div>

          <div class='form-outline mb-4'>
            <label class='form-label ms-2' for='registerName'>Full Name</label>
            <input type='text' name='Name' class='form-control form-control-lg forminput' value='{{statusData.body.Phone}}'
              placeholder='Enter your FullName' required/>
              
            <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
              requiered</span>
          </div>

          {{! Email input }}
          <div class='form mb-4'>
            <label class='form-label ms-2' for='Email'>Email address</label>
            <input type='text' name='Email' class='form-control form-control-lg forminput'
              value='{{statusData.body.Email}}' placeholder='Enter your email address' required />
            <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
              requiered</span>
              {{#if statusData.errMsg.email}}
                <span class='text-danger'><i class='fa-regular fa-circle-exclamation'>
                  </i>{{statusData.errMsg.email}}</span>
              {{/if}}
            {{!-- {{#if statusData.errMsg.email}}
              <span class='text-danger'>
                <i class='fa-regular fa-circle-exclamation'></i>nooooo{{statusData.errMsg.email}}</span>
            {{/if}} --}}
          </div>

           {{!-- PHONE NUMBER  --}}
          <div class='form-outline mb-4'>
            <label class='form-label ms-2' for='registerPhone'>PhoneNo</label>
            <input type='text' name='Phone' class='form-control form-control-lg forminput'
              value='{{statusData.body.Phone}}' placeholder='Enter your Valid PhoneNo' />

            <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
              requiered</span>
          </div>
          {{#if indexData.log.admin}}
            {{!-- security input --}}
            <div class='form mb-3'>
              <label class='form-label ms-2' for='Password'>Security key</label>
              <input type='password' name='key' class='form-control form-control-lg forminput'
                value='{{statusData.body.key}}' placeholder='Enter the Security key' />

              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
                {{#if statusData.errMsg.pass}}
                  <span class='text-danger'><i class='fa-regular fa-circle-exclamation'>
                    </i>{{statusData.errMsg.pass}}</span>
                {{/if}}
              {{!-- {{#if statusData.errMsg.pass}}
                <span class='text-danger'><i
                    class='fa-regular fa-circle-exclamation'></i>noooo{{statusData.errMsg.pass}}</span>
              {{/if}} --}}
            </div>
          {{/if}}
          {{!-- Password input  --}}
          <div class='form mb-3'>
            <label class='form-label ms-2' for='Password'>Password</label>
            <input type='password' name='Password' class='form-control form-control-lg forminput'
              placeholder='Enter password' value='' required/>

            <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
              requiered</span>
          </div>
          <input type='text' name='logType' value='{{indexData.log.logType}}' hidden />

          <div class='text-center text-lg-start mt-4'>
            <button type='submit' class='btn btn-outline-primary px-4'>Sign Up</button>
            <span>
              <p class='fw-bold'>Already have an account?
                {{#if indexData.log.admin}}
                  <a href='/adminSignIn' class='text-secondry ms-1'><span>Sign
                      in &#8594;</span></a>
                {{else}}
                  <a href='/signIn' class='text-secondry ms-1'><span>Sign in
                      &#8594;</span></a>
                {{/if}}
              </p>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>