<section class='h-100'>
  <a href='/'>
    <div class='btn btn-light rounded-circle position-fixed backarow'>
      <span class='material-icons-outlined mt-1'>west</span>
    </div>
  </a>

  <div class='container-fluid maxpading'>
    <div class='row d-flex justify-content-center align-items-center mt-5'>
      <div class='col-md-9 col-lg-6 col-xl-5'>
        <img src='/images/mainImg/login.webp' class='img-fluid imageLogin' alt='Sample image' />
      </div>
      <div class='col-md-8 col-lg-6 col-xl-4 offset-xl-1 p-3 me-lg-5'>
        <form action='/signIn' method='post' class=''>

          <div class='d-flex flex-row align-items-center justify-content-center'>
            <p class='fw-bold text-secondary fs-2 mt-3'>LogIn to FastShop
              {{indexData.log.message}}
            </p>
          </div>

          <!-- Email input -->
          <div class='form-outline mb-4'>
            <label class='form-label ms-2' for='Email'>Email address</label>
            <input type='text' name='Email' class='form-control form-control-lg forminput'
              placeholder='Enter your registerd email address' value='{{statusData.body.Email}}' />

              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
            {{#if statusData.errMsg.logEmail}}
              <span class='text-danger'><i class='fa-regular fa-circle-exclamation'>
              </i>{{statusData.errMsg.logEmail}}</span>
            {{/if}}
          </div>

          <!-- Password input -->
          <div class='form-outline mb-3'>
            <label class='form-label ms-2' for='Password'>Password</label>
            <input type='password' name='Password' class='form-control form-control-lg forminput'
              placeholder='Enter password' value='{{statusData.body.Password}}' />
              <span hidden class='text-danger'><i class='fa-regular fa-circle-exclamation'></i>this field is
                requiered</span>
              {{#if statusData.errMsg.logPass}}
                <span class='text-danger'><i class='fa-regular fa-circle-exclamation'>
                  </i>{{statusData.errMsg.logPass}}</span>
              {{/if}}
          </div>
          {{! TYPE INPUT }}
          <input type='text' name='logType' value='{{indexData.log.logType}}' hidden />
          
          <div class='text-center text-lg-start mt-4'>
            <button type='submit' class='btn btn-outline-success px-4'>Login</button>

            <span>
              <p class='fw-bold'>Don't have an account?
                <a href='/signUp' class='text-secondry ms-1'>
                <span>Register &#8594;</span></a></p></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>