<section>
  <div class="container-fluid">
    <div class="row">
      {{#each products}}
        <div class="card col" style="width: 18rem; height: fit-content;">
          <img src="/images/products/{{this._id}}.jpeg" style="width: 16rem; height:25rem;" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{this.Title}}</h5>
            <p class="card-text">{{this.Catogary}}</p>
            <p class="card-text">{{this.Discription}}
              <p class="card-text">{{this.Price}}</p>
            </p>
            <a href="/users/myCart" class="btn btn-primary">Buy or Rent</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>